.assets-container {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.assets-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.assets-table th, .assets-table td {
    padding: 12px;
    border: 1px solid #ccc;
}

.assets-table th {
    background-color: #f4f4f4;
}

.assets-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.assets-table tr:hover {
    background-color: #e8e8e8;
}

.assets-table td {
    text-align: center;
}

.assets-table th, .assets-table td {
    font-size: 16px;
}

.assets-container p {
    font-size: 16px;
    color: #555;
    margin-top: 20px;
}

/* Button styling */
.download-pdf-button {
  background-color: #ffd700;  /* Set button color to #ffd700 */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.download-pdf-button:hover {
  background-color: #e6c200;
}